/* input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
.MuiDataGrid-root .MuiDataGrid-cellContent {
  overflow: initial !important;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle {
  overflow: initial !important;
}

.users-form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.MuiTypography-h6 {
  font-size: 1.5rem !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600 !important;
  line-height: 1.7 !important;
  letter-spacing: 0.008em !important;
}

.btn-login .btn-signup {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* Dashboard icons  */
.icons {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}
.new-bill {
  width: 280px;
  height: 100px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10;
}

.nav-text-link {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.5s;
}
.sidenav-text {
  font-size: 1.3rem;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* chart */
@media screen and (max-width: 650px) {
  .product-chart {
    width: 300px !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 400px) {
  .product-chart {
    width: 180px !important;
    height: 100px !important;
  }
}

#main {
  transition: 0.5s;
}
.content {
  padding: 100px 20px;
}

@media (max-width: 600px) {
  #main {
    margin-left: 74px !important;
  }
  #mySidenav {
    width: 74px;
  }
  .sidenav-text {
    display: none;
  }
  .closebtn {
    display: none;
  }
  .nav-bar-heading-title {
    margin-left: 90px !important;
    transition: 0.5s;
  }
}

@media (min-width: 600px) {
  #mySidenav {
    width: 230px;
  }
  #main {
    margin-left: 230px;
  }
  #menuToggle {
    display: none;
  }
  .sidenav-text {
    display: inline-block;
  }
}
.header {
  overflow: hidden;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: #36246514;
  padding: 15px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}

#menuToggle {
  cursor: pointer;
}
