/* input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.users-form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-login .btn-signup {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* Dashboard icons  */
.icons {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}
.new-bill {
  width: 280px;
  height: 100px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  /* transition: 0.3s; */
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#main {
  transition: 0.5s;
}
.content {
  padding: 30px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  #main {
    margin-left: 0px;
  }
}

@media (min-width: 500px) {
  #mySidenav {
    width: 220px;
  }
  #main {
    margin-left: 220px;
  }
  #menuToggle {
    display: none;
  }
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}

.header-right {
  float: right;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}
